@import "tailwindcss";

body{
    background-color: var(--color-whitc);
}

@theme {
    --color-darkc: #4b4743;
    --color-whitc: #deceba;
    --color-primc: #491d20;
    --color-shadc: #e1b67f;
    --color-diffc: #004852;
}
