---
import '@styles/global.css'
import Layout from '@layouts/Layout.astro'
const pageTitle = "Page not found"
---

<Layout pageTitle={ pageTitle }>
	<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  		<div class="text-center">
			<p class="text-4xl font-semibold text-primc">404</p>
    		<h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-darkc sm:text-7xl">Page not found</h1>
   			<p class="mt-6 text-lg font-medium text-pretty text-darkc-light sm:text-xl/8">Sorry, we couldn’t find the page you’re looking for.</p>
    		<div class="mt-10 flex items-center justify-center gap-x-6">
      			<a href="/" class="rounded-md bg-primc px-3.5 py-2.5 text-sm font-semibold text-whitc-light shadow-xs hover:bg-primc-light focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primc">Go back home</a>
      			<a href="https://fb.com/043c39" class="text-sm font-semibold text-primc" target="_blank">Contact support <span aria-hidden="true">&rarr;</span></a>
    		</div>
  		</div>
	</main>
</Layout>
