---
import '@styles/global.css'
import Layout from '@layouts/Layout.astro'
const pageTitle = "Page not found"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="grid place-items-center h-screen content-center">
		<p>404: Page not found.</p>
	</div>
	</body>
</html>