---
import '@styles/global.css';
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';


const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
	<h1>Hello Sherma!</h1>

	<img src="https://cdn.wikimg.net/en/hkwiki/images/e/ef/Sherma_Singing.png" alt="An image of Sherma">

	<p>Faridura Simanet</p>

	<p>Donipuana Vorinet</p>

	<p>Pinasami Mainiset</p>

	<p>Dana Fonsiurova</p>

	<div class="grid place-items-center h-screen content-center">
		<Button>Click for suprise</Button>
		<a href="/about" class="text-diffc p-4 und 'erline">view about page</a>
	</div>
</Layout>