---
import '@styles/global.css';
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';


const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
	<div class="grid place-items-center h-screen content-center">
		<Button>Click for suprise</Button>
		<a href="/about" class="text-diffc p-4 und 'erline">view about page</a>
	</div>
</Layout>