---
import '@styles/global.css'
import Layout from '@layouts/Layout.astro'
const pageTitle = "About";
---

<Layout pageTitle={ pageTitle }>
    <div class="grid place-items-center h-screen content-center">
        <p>Hello, click <a href="/more"><u>here</u></a> to see 404</p>
    </div>
</Layout>